 <div class="vh100">     
     
      <div class="card-to-prof"> 
              <div>
                     <a class="lg-hm-btm" target="_blank" href="/"> HOME</a>
              </div>

              <div>
                     <a class="lg-hm-btm" href="/logout">LOGOUT</a>
              </div>
      </div> 


    <div class="card-profile"> 
            <div class="info-profile"> 
                <h3 class="fw100">User ID: {{user._id}}</h3>
                <h3 class="fw100">Email: {{user.email}}</h3>
           </div> 
    </div>


    <div class="card-profile"> 
            <div class="info-profile-2"> 
              <div class="icon-box-p">
                    <img class="icon-prof "src="/img/add-img.png"><a class="cp a-c" href="/stores/create">Agregar<br>Tienda</a>
              </div>
              <div class="icon-box-p">
                    <img class="icon-prof "src="/img/list-store.png"><a class="cp a-c" href="/stores/">Ver <br>Mis Tiendas</a>
              </div>
              <div class="icon-box-p">
                    <img class="icon-prof "src="/img/add-product.png"><a class="cp a-c" href="/product-create/">Subir<br>Producto</a>
              </div>
           </div> 
    </div>

</div>
