<div class="pading30"> 
        <h2>Edit Profile</h2>
        <h3>User ID: {{user._id}}</h3>
        <h3>User email: {{user.email}}</h3>


        <a href="/edit"> Edit user profile </a> <br><br>
        <a href="/stores"> Add your store </a> <br><br>
        <a href="/logout"> Logout </a>


</div>

    

    

