      
      <div class="body-sig-log">

      <h2>Listado de todas las tiendas</h2>
         {{#each stores}}
         <p>Name: {{this.name}}</p>


          <a href='/stores/{{this._id}}'>Detalle de la tienda</a>
      <br>



         <form action='/stores/{{this._id}}/delete' method='POST'>    
         <button type='submit'>Delete</button>
         </form>

         {{/each}}
         <br>

         <a href='/stores/create'>Crear nueva tienda</a>
         <br>
         <br>
         <a href='/'>Go back!</a>

   </div>