
<h2>Listing all stores</h2>

{{#each stores}}
<p>Name: {{this.name}}</p>


<a href='/stores/{{this._id}}'>Store details!</a>
<br>
<br>

<form action='/{{store._id}}/delete' method='POST'>    
<button type='submit'>Delete</button>
</form>

 {{/each}}
    <br>
    <br>

    <a href='/stores/create'>Create new store!</a>
    <br>
    <br>
    <a href='/'>Go back!</a>