<h2>Información de la tienda</h2>

<p>Address: {{store.address}}</p>
<p>Category: {{store.category}}</p>


<a href='/stores/{{store._id}}/edit'>Editar tienda</a>

<a href='/stores'>Volver atrás!</a>

