             <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
            </div>

        <header>
            <div class="secondlineheader">
              <a href="/"><img id="logocommerce"src="/img/digital-commerce-logo-new.png"></a>
              <div>
              <a class="signupbtn" href="/signup"> SIGNUP </a> 
              <a class="logginbtn" href="/login"> LOGIN </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>
        
        
        
        
        <section id="home">

                <div id="info-home"> 
                    <h2>TODAS LAS TIENDAS DE <br>TU LOCALIDAD ONLINE</h2>
                    <article>
                        <p>Accede a todos los <br>productos  o tiendas de tu distrito
                        </p>
                    </article>
                </div>

                <div> 
                    <img id="img-home-prodc" src="/img/img-home-banner-dw.png">
                </div>  
        </section>

<div class="c-bg"> 
        <section id="structure" class="container">
             <h3>Encuéntralos por categoría</h3>
             <div id="#categorias">

                <article id="ropaycalzado" class="service-box itm-ctr">
                     <a class="a-w" href="/">Ropa y<br> Calzado</a>
                 </article>

                <article id="alimentacion" class="service-box itm-ctr">
                     <a class="a-w" href="/">Alimentación</a>
                 </article>

                <article id="farmacia" class="service-box itm-ctr">
                    <a class="a-w" href="/">Farmacias</a>
                </article>

                 <article id="electronicaeinformatica" class="service-box itm-ctr">
                    <a class="a-w" href="/">Electrónica e<br> Informática</a>
                </article>

                <article id="papeleria" class="service-box itm-ctr">
                    <a class="a-w" href="/">Papelería y<br> Documentación</a>
                </article>

                <article id="floristeria" class="service-box itm-ctr">
                    <a class="a-w" href="/">Floristería</a>
                </article> 

                <article id="bricolaje" class="service-box itm-ctr">
                    <a class="a-w" href="/">Bricolaje</a>
                </article> 

                <article id="decoracion" class="service-box itm-ctr">
                    <a class="a-w" href="/">Decoración y <br> Muebles</a>
                </article> 

                <article id="hosteleria" class="service-box itm-ctr">
                    <a class="a-w" href="/">Restauración y <br> Hostelería</a>
                </article>
        </section>
</div>