             <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
            </div>

        <header>
            <div class="secondlineheader">
              <a href="/"><img id="logocommerce"src="/img/digital logo.png"></a>
              <div>
              <a class="signupbtn" href="/signup"> Registrarse </a> 
              <a class="logginbtn" href="/login"> Acceder </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>
        
        
        
        
        <section id="home">

                <div id="info-home"> 
                    <h2>TODAS LAS TIENDAS DE <br>TU LOCALIDAD ONLINE</h2>
                    <article>
                        <p>Registra tu negocio<br><br> Y comienza a diseñar tu experiencia de comercio digital
                        </p>
                    </article>
                </div>

                <div> 
                    {{!-- <img id="img-home-prodc" src="/img/img-home-banner-dw.png"> --}}
                    <video width="700" height="500" autoplay="true" loop="loop" controls="controls" movload="true" autoplay="true" loop="loop">
                        <source src="/video/vecteezy_fifty-percent-sale-fire-letter-animation_1797700720.mov" type="video/mp4">
                    </video>
                </div>  
        </section>

<div class="c-bg"> 
        <section id="structure" class="container">
             <h3>Encuéntralos por categoría</h3>
             <div id="#categorias">

                <article id="ropaycalzado" class="service-box itm-ctr">
                     <a class="a-w" href="ropa-y-calzado">Ropa y<br> Calzado</a>
                 </article>

                <article id="alimentacion" class="service-box itm-ctr">
                     <a class="a-w" href="alimentacion">Alimentación</a>
                 </article>

                <article id="farmacia" class="service-box itm-ctr">
                    <a class="a-w" href="farmacias">Farmacias</a>
                </article>

                 <article id="electronicaeinformatica" class="service-box itm-ctr">
                    <a class="a-w" href="electronica-e-informatica">Electrónica e<br> Informática</a>
                </article>

                <article id="papeleria" class="service-box itm-ctr">
                    <a class="a-w" href="papeleria-y-documentacion">Papelería y<br> Documentación</a>
                </article>

                <article id="floristeria" class="service-box itm-ctr">
                    <a class="a-w" href="floristeria">Floristería</a>
                </article> 

                <article id="bricolaje" class="service-box itm-ctr">
                    <a class="a-w" href="bricolaje">Bricolaje</a>
                </article> 

                <article id="decoracion" class="service-box itm-ctr">
                    <a class="a-w" href="decoracion-y-muebles">Decoración y <br> Muebles</a>
                </article> 

                <article id="hosteleria" class="service-box itm-ctr">
                    <a class="a-w" href="restauracion-y-hosteleria">Restauración y <br> Hostelería</a>
                </article>
        </section>
</div>

<div>
    <footer>
<!-- Footer links -->
  <nav>
	<a href="some-url" target="_blank">Footer link</a> <!-- opens in new tab -->
	<a href="some-url">Footer link</a>
	<a href="some-url">Footer link</a>
  </nav>
<!-- Copyright footnote -->
  &copy; 2021 Ironhack Project 2 copyright.
<!-- Contact link -->
  <address>
    Contact <a href="mailto: gastonsalimbene@gmail.com">Gaston</a> | <a href="mailto: gmiranda@tabernacreativa.com">Genaro</a>

    
  </address>
</footer>
</div>

