
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    
  </head>
    
  <body>

    {{{body}}}

      
   <script src="/javascripts/script.js"></script>
  </body>

  <footer>
    <div>
      <p>Desarrollado por Gaston & Genaro</p>
    </div>

  </footer>

</html>


