
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

          <div id="toplineheader">
              <span>Envíos gratis por compras superiores a 50Є.</span>
          </div>

        <header>
            <div class="secondlineheader">
              <img id="logocommerce"src="/img/digital-commerce-logo.png">
              <div>
              <a class="signupbtn" href="/signup"> SIGNUP</a> 
              <a class="logginbtn" href="/login"> LOGIN </a> 
              </div>
            </div>
        
            <div id="thirlineheader">
              <nav class="nav-bar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#category">CATEGORÍAS</a></li>
                </ul>
                </nav> 
            </div>
        </header>


  <body class="body">

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>


