@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');



body {
  font-family: 'Montserrat';
  padding: 0px 0px 0px 0px;
  margin: 0px;
}


/*------------ LINKS CSS-------------*/

.a-w {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.a-w:hover {
  color: white;
  text-decoration: underline;
}

.a-store {
  color: black;
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 400;
}

.location-txt {
  color: #6e6e6e;
  font-size: 13px;
  text-transform: capitalize;
}

.store-d {
  color: #ff4b2b;
  padding:8px 15px;
  border: 1px #ff4b2b solid;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}

.store-d:hover {
  background-color: #ff4b2b;
  color: white;
  padding:8px 15px;
  border: 1px #ff4b2b solid;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}

header a {
  text-decoration: none;
}

/*------------ TOP LINE HEADER NAV-------------*/

#toplineheader {
  padding: 10px 25px 10px 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px #d7d7d7 solid;
  text-align: center;
  color: #595959;
}


/*------------ 2nd LINE OF NAV-------------*/

@media screen and (max-width: 762px) {
  .secondlineheader{
    padding:20px 30px 30px;
  }
  }
  


@media screen and (min-width: 762px) {
.secondlineheader{
  padding: 20px 55px 25px;
}
}

/*------------ LOGO CSS-------------*/

@media screen and (max-width: 762px) {
  #logocommerce{
  height:47px;
}
}


@media screen and (min-width: 762px) {
#logocommerce{
  height:80px;
}
}

#map-icon {
  height:20px;
    position: relative;
    top: 4px;
    right: 5px;
}


.logoImg-store {
  border-radius: 100%;
  border: #b4b4b4 1px solid;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.logoImg-store2 {
  height: 85px;
  width: 85px;
  border-radius: 100%;
  border: #b4b4b4 1px solid;
}


.logoImg-liststor {
  border-radius: 100%;
  border: #b4b4b4 1px solid;
  max-width: 100%;
  max-height: 100%;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.editlogo-store {
  height: 120px;
  width: 120px;
}

/*------------ 3th LINE OF NAV-------------*/


#thirlineheader {
  padding: 0 25px 10px 20px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: #222222;
}

.nav-bar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.nav-bar a{
  text-decoration:none;
  color:white;
  font-weight:semi-bold;
  font-size: 13px;
}

.nav-bar a:hover{
  text-decoration: underline;
  color:white;
  font-weight:semi-bold;
  font-size: 13px;
}

li {
  padding: 3px 15px 0px 15px;
}

li::after {
  top: -2px;
  padding: 0px 5px 0px 5px;
  content: "v";
  color: #808080;
  font-size: 10px;
  position: relative;
}


/*------------ GENERAL CSS HOME-------------*/

.stor-det {
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
}

.btt-dl{
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border-radius: 5px;
  cursor: pointer;
}

.df{
  display: flex;
  width: 350px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 300px;
}

.upperc{
  text-transform: capitalize;
}

.hw100px{
  height: 100px;
  width: 100px;
}

.fw100 {
  font-weight: 100;
}

.vh100{
  height: 100vh;
  background: #f6f5f7;
}

.a-c:hover{
  color: #e14125
}

.cp {
  cursor: pointer;
}

.p60{
  padding: 40px 60px 5px 60px;
}


@media screen and (min-width: 762px) {
.w60{
  width: 60%;
}
}

.w100{
  width: 100%;
}

.pading30 {
  padding: 30px;
}

@media screen and (max-width: 762px) {
#info-home{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 45px;
  border-radius: 10px;
  color: white;
}
}

@media screen and (min-width: 762px) {
#info-home{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
    border-radius: 10px;
    color: white;
    width: 100vh;
}
}


header > div {
  padding: 0 25px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight:600;
}

.flex-dc {
  flex-direction: column;
}


/*------------ BTTM CSS HOME-------------*/


.homebtn{
  color: black;
  padding:8px 15px;
  font-size: 13px;
}
.signupbtn{
  color: black;
  padding:8px 15px;
  font-size: 13px;
}

.signupbtn:hover{
  color: #ff4b2b;
  padding:8px 15px;
  font-size: 13px!important;
}

.logginbtn{
  color: white;
  padding:8px 25px;
  background-color: #ff4b2b;
  border-radius: 5px;
  font-size: 13px;
}

.logginbtn:hover{
  color: white;
  padding:8px 25px;
  background-color: #45de7c;
  border-radius: 5px;
}



/*------------ FIRST SLIDER HOME SECTION CSS -------------*/

#img-home-prodc {
  max-width: 90%;
  max-height: 90%;
}

@media screen and (max-width: 762px) {
  #home{
    background: linear-gradient( 
90deg
, #660e48 0%, #ff4b2b 100%);
    padding: 0px 10px 0px;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
}

@media screen and (min-width: 762px) {
#home{
  background: linear-gradient( 
    90deg
     , #660e48 0%, #ff4b2b 100%);
  padding: 0px 30px 0px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
}

#home h2{
  text-align: left;
  font-size:30px;
  padding-right: 50px;
}

#home article p{
  text-align:left;
      font-size:18px;
      max-width:900px;
      padding-bottom:50px;
  }



/*------------CATEGORY SECTION-------------*/

.c-bg {
  background: #fafafa;
}

.c-pg {
  background: #f6f5f7;
}
.vh75 { 
height: 75vh;
}


@media screen and (max-width: 762px) {
  .info-stor-color{ 
    background: #f6f5f7;
      display: flex;
      flex-direction: column;
      text-align: center;
      
  }
  }

@media screen and (min-width: 762px) {
.info-stor-color{ 
  background: #f6f5f7;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px auto;
    width: 1250px;

}
}

#structure > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color:white;
  font-size: 18px;
}

#structure h3 {
  padding-bottom: 25px;
  margin: 0px 25px 5px 25px;
  font-size: 24px;
  border-bottom: 1px #d7d7d7 solid;
}

#structure > h3 {
  text-align: center;
}


@media screen and (max-width: 762px) {
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 75px 0;
  }
}

@media screen and (min-width: 762px) {
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 75px 0;
  
}
}

@media screen and (max-width: 762px) {
.service-box {
    font-size: 16px;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 50px 10px 0 10px;
    padding: 20px;
    width: 45%;
    background: white;
}
}

@media screen and (min-width: 762px) {
.service-box {
  font-size: 16px;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 2% 0 2%;
  padding: 30px 20px 30px 20px; 
   width: 29%;
  background: white;
  font-size: 20px;
}
}

/*------------CATEGORY CARD SECTION-------------*/


.a-category {
  background: #919191;
  color: #ffffff;
  border-radius: 54px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 45px;
  margin-right: 45px;
  font-size: 10px;
  font-weight: 600;
}

#ropaycalzado{
  background-image: url('/img/ropa-calzado-2.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  
}

#alimentacion{
  background-image: url('/img/alimentacion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#farmacia{
  background-image: url('/img/farmacia.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#electronicaeinformatica{
  background-image: url('/img/electronicaeinformatica-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#papeleria{
  background-image: url('/img/papeleriaydocumentacion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#floristeria{
  background-image: url('/img/floristeria.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#bricolaje{
  background-image: url('/img/bricolaje-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#decoracion{
  background-image: url('/img/decoracion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hosteleria{
  background-image: url('/img/hosteleria.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.itm-ctr{
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  color:white;
  text-decoration: none;
}


/* INFO STORE CARD ====================== */

#info-store-card{
  padding: 1px 15px 5px 15px;
  background: white;
  border-radius: 5px;
  border: 1px #c4c4c4 solid;
  box-shadow: 2px 2px 10px 0 #c0c0c0;
}

.info-store-prod {
  padding: 15px;
  background: white;
  border-radius: 5px;
  border: 1px #c4c4c4 solid;
  box-shadow: 2px 2px 10px 0 #c0c0c0;
  margin-bottom: 35px;
  display: flex;
}


#info-store-product{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background: white;
  border-radius: 5px;
  border: 1px #c4c4c4 solid;
  box-shadow: 2px 2px 10px 0 #c0c0c0;
}

/* PROFILE STYLE CSS ====================== */

.card-to-prof {
  background: #f6f5f7;
    display: flex;
    justify-content: space-between;
    padding: 55px 100px 0px 100px;
}

.card-profile {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  margin: -20px 0 0px;
}


@media screen and (max-width: 762px) {
.info-profile {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  border-radius: 10px;
  box-shadow: 0 5px 11px rgb(0 0 0 / 25%), 0 1px 13px rgb(0 0 0 / 22%);
  position: relative;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  min-height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}
}

@media screen and (min-width: 762px) {
.info-profile {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  border-radius: 10px;
  box-shadow: 0 5px 11px rgb(0 0 0 / 25%), 0 1px 13px rgb(0 0 0 / 22%);
  position: relative;
  overflow: hidden;
  width: 750px;
  max-width: 100%;
  min-height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}
}


@media screen and (max-width: 762px) {
.info-profile-2 {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 11px rgb(0 0 0 / 25%), 0 1px 13px rgb(0 0 0 / 22%);
  position: relative;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  min-height: 150px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 40px 0px 40px 0px;
  margin-bottom: 40px;
}
}

@media screen and (min-width: 762px) {
.info-profile-2 {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 11px rgb(0 0 0 / 25%), 0 1px 13px rgb(0 0 0 / 22%);
  position: relative;
  overflow: hidden;
  width: 750px;
  max-width: 100%;
  min-height: 150px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 40px 0px 40px 0px;
  height: 300px;
}
}

@media screen and (max-width: 762px) {
  .info-create-str {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 11px rgb(0 0 0 / 25%), 0 1px 13px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 150px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 40px 0px 40px 0px;
    margin-bottom: 40px;
  }
  }
  
  @media screen and (min-width: 762px) {
  .info-create-str {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 11px rgb(0 0 0 / 25%), 0 1px 13px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 550px;
    max-width: 100%;
    min-height: 150px;
    text-align: center;
    justify-content: space-evenly; 
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 40px 0px 40px 0px;
  }
  }


.lg-hm-btm{
  color: #ff4b2b;
  padding: 8px 25px;
  background-color: #ffffff00;
  border-radius: 8px;
  font-size: 13px;
  border: 1px #ff4b2b solid;
}

.icon-box-p {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icon-prof {
  height: 100px;
  position: relative;
}

.card-picprod {
    width: 450px;
    height: 235px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: gainsboro;
}

.pic-prod {
  border: 1px #d7d7d7 solid;
  max-width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.h3-ins {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient( 
90deg
, #660e48 0%, #2a0e0e 100%);
    border-radius: 5px;
}


.list-store-card{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}



/* --- formulario de crear product --- */
.one-half,
.one-third {
    position: relative;
    margin-right: 4%;
    float: left;
        margin-bottom: 20px;
 
}
 
.one-half { width: 48%; }
.one-third { width: 30.66%; }
 
.last {
    margin-right: 0 !important;
    clear: right;
}
 
@media only screen and (max-width: 767px) {
    .one-half, .one-third {
        width: 100%;
        margin-right: 0;
    }
}


.form-prod-cre {
  background-color: #ffffff;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.edit-pro{
  background: linear-gradient( 
90deg
, #3f51b5 0%, #03a9f4 100%);
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}