<h2>Create Product</h2>
<form action='/products' method='POST'>

    <label for=''>Name</label>
    <input type='text' name='name'><br>

    <label for=''>Description</label>
    <input type='text' name='description'><br>

    <label for=''>Quantity</label>
    <input type='text' name='quantity'><br>

    <label for=''>Price</label>
    <input type='text' name='price'><br>

    <label for="store-select"> Created by:
        <select name="store">
            <option disable selected value=""> </option>
                {{#each dbStore}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
        </select>
    </label>
    <br>

        <button type='submit'>Submit</button>

</form>


    
    





</form> 

<a href='/products'>Go back!</a>