<h2>Create Product</h2>
<form action='/products' method='POST'>

    <label for=''>Name</label>
    <input type='text' name='name'><br>

    <label for=''>Description</label>
    <input type='text' name='description'><br>

    <label for=''>Quantity</label>
    <input type='text' name='quantity'><br>

    <label for=''>Price</label>
    <input type='text' name='price'><br>

    <label for=''>Store: </label>
    <input type='text' value='{{this.store}}'><br>
    
   
    <select name="store">
     {{#each store}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
    </select>
    
    



    <button type='submit'>Submit</button>

</form> 

<a href='/products'>Go back!</a>