 <div class="vh100">     
      <div class="card-to-prof"> 
              <div>
                     <a class="lg-hm-btm" href="/profile"> Regresar</a>
              </div>

              <div>
                     <a class="lg-hm-btm" href="/logout">Salir</a>
              </div>
      </div> 


    <div class="card-profile"> 

            <h2>Crear producto</h2>    
            <div class="info-create-str"> 
                 <img class="icon-prof "src="/img/add-product.png">
                <form class="form-prod-cre" action='/product-create' enctype="multipart/form-data" method='POST'>
                  
                  <div class="one-half"> 
                    <label for=''>Nombre</label>
                    <input type='text' name='name'><br>
                 </div>
               
                 <div class="one-half last"> 

                    <label for=''>Descripcion</label>
                    <input type='text' name='description'><br>
                 </div>

                 <div class="one-half"> 

                    <label for=''>Cantidad</label>
                    <input type='text' name='quantity'><br>
                 </div>
                 <div class="one-half last"> 

                    <label for=''>Precio</label>
                    <input type='text' name='price'><br>
                 </div>
                 <div class="one-half"> 

                    <label for=''>Imagen del producto</label>
                    <input type="file" name="imgProduct" accept = ".jpg, .jpeg, .png"> <br>
                 </div>
                 <div class="one-half last"> 

                     <label for="store-select">Tienda:
                        <select name="store">
                            <option disable selected value=""></option>
                           {{#each dbStore}}
                           <option value="{{this._id}}">{{this.name}}</option>
                           {{/each}}
                        </select>
                     </label>
                                      </div>

                     <br>
                    <button type='submit'>Crear el producto</button>
                </form>
             </div> 
    </div>


{{!-- 
<div class="body-sig-log">

<h2>Crear producto</h2>
<form action='/product-create' enctype="multipart/form-data" method='POST'>

    <label for=''>Nombre</label>
    <input type='text' name='name'><br>

    <label for=''>Descripcion</label>
    <input type='text' name='description'><br>

    <label for=''>Cantidad</label>
    <input type='text' name='quantity'><br>

    <label for=''>Precio</label>
    <input type='text' name='price'><br>

    <label for=''>Imagen del producto</label>
    <input type="file" name="imgProduct" accept = ".jpg, .jpeg, .png"> <br>

    <label for="store-select"> Tienda:
        <select name="store">
            <option disable selected value=""></option>
                {{#each dbStore}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
        </select>
    </label>
    <br>

        <button type='submit'>Crear el producto</button>

</form>

<a href='/products'>Volver atras!</a>

</div>
 --}}
